#VS
[Oo]bj
[Bb]in
[Pp]ublish
[Bb]uild[Oo]utput
*.user
*.suo
*.bak
*.log 
*.orig
/*.doc
/*.docx
/*.pdf
/*.testsettings
/*.psess
*.DotSettings
/InstallShieldServerSetup/InstallShieldServerSetup
/InstallShieldMonPostSetup/InstallShieldMonPostSetup
/InstallShieldClientSetup/InstallShieldClientSetup
/UpgradeLog*.XML
/UpgradeLog*.htm

#StyleCop
*.Cache

#Windows
[Tt]humbs.db 

#R#
_ReSharper.*
*.resharper